.panel.panel-default
  .panel-heading
    h3.panel-title 最新评论
  .panel-body
    ul.media-list
      each comment in comments
        li.media
          a.pull-left(href=`/images/${comment.image_id.id}`)
            img.comment_image.media-object.newest-list(src=`/upload/${comment.image_id.filename}`)
          .media-body
            = comment.comment
            br
            strong.media-heading= comment.name
            | &nbsp;
            small.need_to_be_rendered.text-muted(datetime= comment.timestamp)
