.panel.panel-default
  .panel-heading
    h3.panel-title 最受欢迎的图片
  .panel-body
    each img in pImages
      .col-md-4.text-center.pop_pb
        a(href=`/images/${img.id}`)
          img.pop_image.img-thumbnail.newest-list(src=`/upload/${img.filename}`)
