doctype html
html
  head
    title 用户登入
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    .page-head
      h1 用户登录
    .login-form
      form(method='post', action=`/users/login`)
        .form-group
          label(for='username') 用户名
          input.form-control(type='text' id='username' name='username' placeholder='请输入用户名')
        .form-group
          label(for='password') 密码
          input.form-control(type='password' id='password' name='password' placeholder='请输入密码')
        .btn_center
          button.btn.btn-default(type='submit') 登录
    br
    br
    .footer
      .container
        .row
          .col-sm-12.text-center
            p.text-muted 图片共享 &copy; 王建源 2017 版权所有
