doctype html
html
  head
    title 用户注册
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/login.css')
  body
    .page-head
      h1 用户注册
    .login-form
      form(method='post', action=`/users/register`)
        .form-group.has-feedback
          label(for='username') 用户名
          input.form-control(type='text' id='username' name='username' placeholder='请输入用户名')
        .form-group.has-feedback
          label(for='password') 密码
          input.form-control(type='password' id='password' name='password' placeholder='请输入密码')
        .form-group.has-feedback
          label(for='passwordOk') 确认密码
          input.form-control(type='password' id='passwordOk' name='passwordOk' placeholder='请确认密码')
        .form-group.has-feedback
          label(for='email') 邮箱
          input.form-control(type='text' id='email' name='email' placeholder='请输入邮箱')
        .btn_center
          button.btn.btn-default(type='submit') 注册
    br
    br
    .footer
      .container
        .row
          .col-sm-12.text-center
            p.text-muted 图片共享 &copy; 王建源 2017 版权所有
    script(src='//cdn.bootcss.com/jquery/3.2.1/jquery.min.js')
    script(src='/js/register.js')
